<tr>
<div>
	
<td class="col-md-9" style="margin-right: 60%"><em><%= product.productName %></em></h4></td>
	<td id="product_price" class="product_price col-md-1 text-center"><%= number_to_currency product.price %></td>
</div>

</tr>