<center>
<h1>Carrito</h1>
</center><br>
<table align="center">
  <tr>
    <th>Producto</th>
    <th>Descripci칩n</th>
    <th>Precio</th>
  </tr>
  <tr>
    <td>Bicicleta de Monta침a</td>
    <td>La mejor de todas</td>
    <td>$1,560.00</td>
  </tr>
  <tr>
    <td>Llanta de refacci칩n</td>
    <td>Calidad asegurada</td>
    <td>$420.00</td>
  </tr>
  <tr>
    <td>Asiento de piel</td>
    <td>Muy c칩modo</td>
    <td>$300.00</td>
  </tr>
  
</table>

<center>
<%= link_to 'Confirmar pedido', cart_new_path %>
</center>
