<center>
<h1>Sucursales Rogelio Bicicletas</h1>
</center>
<div id="wrap">
    <div id="left_col" style="margin-top: 10px; margin-bottom: 30px">
	<h1>-Monterrey</h1>
	<h3>Direccion 1<h3>
	<h3>Direccion 2<h3>
	<h3>Direccion 3<h3>
<h1>-Saltillo</h1>
	<h3>Direccion 1<h3>
	<h3>Direccion 2<h3>
	<h3>Direccion 3<h3>
	</div>
    <div id="right_col" style="border:margin-top: 10px; margin-bottom: 30px">
		<h1>-Monterrey</h1>
	<h3>Direccion 1<h3>
	<h3>Direccion 2<h3>
	<h3>Direccion 3<h3>
<h1>-Saltillo</h1>
	<h3>Direccion 1<h3>
	<h3>Direccion 2<h3>
	<h3>Direccion 3<h3>
    </div>
</div>