<center>
<h1>Eventos Rogelio Bicicletas</h1>
</center>
<div class="figures">
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Hora:.</figcaption>
  <figcaption>Lugar: </figcaption>
</figure>
</div>