<center>
<h1>Noticias Rogelio Bicicletas</h1>
</center>
<div class="figures">
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 1.</figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 2.</figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 3.</figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 4.</figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 5.</figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Noticia 6.</figcaption>
</figure>
</div>