<p>
	<strong>Titulo:</strong>
	<%= @news.title %>
</p>

<p>
	<strong>Texto:</strong>
	<%= @news.body %>
</p>

<p>
	<strong>Autor:</strong>
	<%= @news.author %>
</p>

<%= link_to 'Noticias', news_index_path %>