<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day">4</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						<img alt="Invención de la bicicleta" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
						<div class="info">
							<h2 class="title">Invención de la bicicleta</h2>
							<p class="desc">Invención de la bicicleta</p>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 0000">
							<span class="day">8</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">12:00 AM</span>
						</time>
						<div class="info">
							<h2 class="title">Invención de la bicicleta 2.0</h2>
							<p class="desc">Invención de la bicicleta 2.0</p>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 2000">
							<span class="day">29</span>
							<span class="month">Apr</span>
							<span class="year">2017</span>
							<span class="time">8:00 PM</span>
						</time>
						<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
						<div class="info">
							<h2 class="title">Cumpleaños de Pedro Esparza</h2>
							<p class="desc">Para que lo feliciten</p>
						</div>
					</li>

					<li>
						<time datetime="2014-07-31 1600">
							<span class="day">27</span>
							<span class="month">Apr</span>
							<span class="year">2017</span>
							<span class="time">4:00 PM</span>
						</time>
						<img alt="CongresoAT2017" src="http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg" />
						<div class="info">
							<h2 class="title">Congreso At 2017</h2>
							<p class="desc">Congreso de mecatronica</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
