<center>
<h1>Login Rogelio Bicicletas</h1>
</center>


<div style="margin:0 auto" align=center>
        <form action="Controlador" style="padding: 10px 30px 10px 30px;">
            <h1  style="color:#848484">Ingresa tu usuario</h1><br>
            <input  style="text-align:center;" type="text" name="usuario" 
                   placeholder="Usuario"><br><br>
<h1  style="color:#848484">Ingresa tu contraseña</h1><br>
            <input  style="text-align:center;" type="text" name="contra" 
                   placeholder="Contraseña"><br><br>
<a href="adminnoticias.html" class="button">Login</a></div>
        </form>
</div>