/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */

 html {
  height: 100%;
  box-sizing: border-box;
}

 body{
	background-color: #ffffff;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  color: #666;
  font-family: 'Open Sans', sans-serif;
 }
.footer{
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  }
.footerText{
  margin: 0;
}
#wrap {
   width:1000px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:450px;
}
#right_col {
   float:right;
   width:450px;
}

.button {
      margin-bottom: 50px;
      border-radius: 0;
}

.figures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abajo{

}

.centered{
  text-align: center;
}
header {
  height: 100px;
  padding: 0 15px;
}

#nosotros {
  width: 290px;
  float: left;
  padding: 5px 15px;
  text-align: justify;
}

#mision {
  width: 294px; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
  text-align: justify;
}

#vision {
  width: 270px;
  padding: 5px 15px;
  float: left;
  text-align: justify;
}


.links {
  float: left;
  padding-left: 85%;
  padding-top: 0;
  padding-bottom: 0%;
}

.renderFormDiv {
    margin: 0 auto;
}

.jumbotron {
      margin-bottom: 0;
}

.navbar {
      margin-bottom: 50px;
      border-radius: 0;
}

.navimg {
  width: 50px;
  height: 50px;
}

.nav > li{
  font-size: 25px;
}

.liNav:hover{
  background-color: #F00;
}

footer {
      background-color: #f2f2f2;
      padding: 25px;
}

.wrapper-products {
    width: 700px;
    overflow: hidden;
}

.wrapper-news {
    width: 900px;
    overflow: hidden;
}

.wrapper-left-products {
    width: 250px;
    float: left;
}
.wrapper-right-products {
    width: 450px; 
    overflow: hidden;
}
.wrapper-left-news {
    width: 550px;
    float: left;
}
.wrapper-right-news {
    width: 350px; 
    overflow: hidden;
}
.wrapper-img {  
  width: 80%;
}
