<div class="container">
	<center>
		<h1 class="add-title">
			<%= @category.categoryName %>
		</h1><hr>
		<div class="wrapper-news">
			<div class="center">
				<p style="font-size: 20px;" align="justify"><strong>Descripción: </strong> <%= @category.categoryDescription %></p>
			</div>
		</div>
		<br><%= link_to 'Volver a categorías', categories_path, :class => "linkText" %>
	</center>
</div>