<center>
	<h1 align="center">
		<%= @category.categoryName %>
	</h1><br>
	<div class="wrapper-news">
		<div class="center">
			<%= @category.categoryDescription %>
		</div>
	</div>
	<br><%= link_to 'Volver a categorias', categories_path %>
</center>