<p>
	<strong>Nombre:</strong>
	<%= @product.productName %>
</p>

<p>
	<strong>Descripcion:</strong>
	<%= @product.productDescription %>
</p>

<p>
	<strong>Precio:</strong>
	<%= @product.price %>
</p>

<%= link_to 'Productos', products_path %>