<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>Rogelio Bicicletas Catalogo</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style type="text/css">
.footer{
color: white;
}
#wrap {
   width:1000px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:450px;
}
#right_col {
   float:right;
   width:450px;
}

.button {
    background-color: white;
    border-radius: 12px;
    border: 2px solid Black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}
figure {
    width: 25%;
    float: left;
    margin: 0;
    text-align: left;
    padding: 0;
}
</style>

<body>

<!-- BANNER -->

<div class="banner">
<center>
   <img src="logo.png" height="150" border="0" align="center"/>
   </center>
</div>

<!-- BOTONES -->

<div class="botones" align="center">
<a href="principal.html" class="button">Quienes somos</a>
<a href="noticias.html" class="button">Noticias</a>
<a href="eventos.html" class="button">Eventos</a>
<a href="sucursales.html" class="button">Sucursales</a>
<a href="catalogo.html" class="button">Catalogo</a>
<a href="login.html" class="button">Login</a></div>
<center>
<h1>Catalogo Rogelio Bicicletas</h1>
</center>
<div class="figures">
<figure>
  <img src="img1.jpg" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
<figure>
  <img src="img1.jpg" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
<figure>
  <img src="img1.jpg" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
<figure>
  <img src="img1.jpg" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
</div>
<center>
<a href="carrito.html" class="button">Ir al carrito</a></div>
</center>



</body>
</html>