    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="add-title">Rogelio Bicicletas
                    <small>Sucursales</small>
                </h1>
            </div>
        </div>
        <hr>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://orontas.com/wp-content/uploads/2013/01/MG_8939_DxO.jpg" alt="" style="height:150px; width:250px;">
                </a>
                <h2>
                    <a href="#">Saltillo Centro</a>
                </h2>
                <p><b>Direccion:</b> Calle Xicoténcatl 358, Zona Centro, 25000 Saltillo, Coah. </p>
                <p><b>Tel:</b> 01 844 410 0176 </p>
                <p><b>Horario:</b> 9AM–8PM</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQhaEz-Fy4_Gmv3sgiYOf0CHSqkIZHZSEvdT6XsM6lZPlWCR9g_" alt="" style="height:150px; width:250px;"">
                </a>
                <h2>
                    <a href="#">Proximamente</a>
                </h2>
                <p><b>Direccion:</b> Blvrd Gral Francisco Coss 1022, Zona Centro, 25682 Saltillo, Coah. </p>
                <p><b>Tel:</b> 01 844 410 6262 </p>
                <p><b>Horario:</b> 9AM–8PM</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <!-- /.row -->
    </div>
        <!-- /.container -->